<!DOCTYPE html>
<html ng-app="fruitVeggieApp">
    <head>
        <title>Fruit and Veggies</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
        <script src="js/fruits_and_veggies_test.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-controller="FruitVeggieCtrl">
        <div class="container">
            <h1>Fruit and Veggies</h1>
            <div class="row">
                <div class="col-sm-4">
                    col 1
                    <div ng-repeat="fruit in fruitList track by $index" class="boxes">
                       <div class="leftright">
                         <button ng-click="moveLeft()">left</button>
                         {{ fruit }}
                         <button ng-click="moveRight()">right</button>
                       </div>
                     </div>
                </div>
                <div class="col-sm-4">
                    col 2
                        <div ng-repeat="produce in produceList track by $index" class="boxes">
                      <div class="leftright">
                         <button ng-click="moveLeft($index)">left</button>
                         {{ produce }}
                        <button ng-click="moveRight($index)">right</button>
                      </div>
                     </div>
                </div>
                <div class="col-sm-4">
                    col 3
                    <div ng-repeat="vegg in veggieList track by $index" class="boxes">
                       <div class="leftright">
                         <button ng-click="moveLeft()">left</button>
                         {{ vegg }}
                         <button ng-click="moveRight()">right</button>
                       </div>
                     </div>
                </div>
            </div>
        </div>
    </body>
</html>
